﻿
/* Administrator Dashboard Tester Table */

table.testerDataTable {
     table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
}

thead {
    background-color: #F3F3F3;
    text-align: center;
    font-size: 13.5px;
}

    thead tr td {
        padding: 3px;
        border-width: 1px;
        border-color: #336600;
        border-style: solid;
    }

tbody tr td {
    border-width: 1px;
    border-color: #336600;
    border-style: solid;
    padding: 2px;
    border-width: 1px;
    border-color: #336600;
    border-style: solid;
    font-size: 13px;
}

.highlight {
    background: #CCFF99;
    /*color: white;*/
}


/* Administrator Functionality Buttons */

    .btn_square_blue:hover {
        background: #CCFF99;
        color: black;
    }

    .btn_square_blue span {
        margin: 0;
        font-size: inherit;
    }



.button {
    display: inline-block;
    white-space: nowrap;
    background-color: #ccc;
    border: 1px solid #777;
    padding: 0 1.5em;
    margin-top: 0.5em;
    font: bold 1em/2em Arial, Helvetica;
    text-decoration: none;
    color: black;
    border-radius: 3px;
}

    .button:hover {
        background-color: #CCFF99;
        color: #009900;
        background-image: linear-gradient(top, #fafafa, #ddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
    }

    .button:active {
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
    }

    .button:before {
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        border-radius: .15em 0 0 .15em;
        pointer-events: none;
    }

.add:before {
    content: "\271A";
}

.delete:before {
    content: "\2718";
}

#add-tester-widget-popup {
    display: none;
}

#delete-tester-widget-popup {
    display: none;
}

.top-header2 {
    height: 20px;
    overflow: hidden;
    background: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #585E69;
}

.main-inside2 {
    padding: 20px;
}


.main2 {
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

#tester-table-body tr.active {
    background-color: #CCCCCC;
}