﻿.login_wrap {
    display: table;
    width: 100%;
    text-align: center;
    background: url(images/jpg/login-background.jpg) no-repeat center;
}

    .login_wrap .opacity {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

    .login_wrap .login_logo {
        float: none;
        margin: 0 0 1em;
        width: 178px;
        height: 26px;
        display: block;
        background: url(images/icons/logo@1x.png) no-repeat center;
    }

@media screen and (max-width: 768px) {
    .login_wrap .login_logo {
        padding: 0;
        border: 0;
        background-image: url(images/icons/logo@2x.png);
        background-size: 178px 26px;
    }
}

@media screen and (max-width: 500px) {
    .login_wrap .login_logo {
        float: none;
    }
}

.login_wrap .login_box {
    position: relative;
    z-index: 3;
    display: table-cell;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .login_wrap .login_box {
        vertical-align: top;
        margin: 10% 0 0;
    }
}

.login_wrap .inside {
    background: white;
    border: 1px solid #585e69;
    padding: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px #4c525b;
    box-shadow: 0 1px 5px #4c525b;
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .login_wrap .inside {
        width: 70%;
        margin-top: 2em;
    }
}

@media screen and (max-width: 640px) {
    .login_wrap .inside {
        width: 80%;
    }
}

.login_wrap h2,
.login_wrap label,
.login_wrap a {
    color: #585e69;
}

    .login_wrap a:hover {
        color: #f18322;
    }

.login_wrap h2 {
    text-align: right;
    font-size: 29px;
    font-family: 'goth_600';
    color: #585e69;
}

@media screen and (max-width: 640px) {
    .login_wrap h2 {
        font-size: 150%;
    }
}

@media screen and (max-width: 500px) {
    .login_wrap h2 {
        display: none;
    }
}

.login_wrap form {
    margin: 2em 0 0;
}

.login_wrap .form_row {
    margin: 1em 0 0;
    overflow: hidden;
}

    .login_wrap .form_row:first-child {
        margin: 0;
    }

.login_wrap .left,
.login_wrap .right {
    float: left;
}

@media screen and (max-width: 640px) {
    .login_wrap .left,
    .login_wrap .right {
        float: none;
    }
}

@media screen and (max-width: 640px) {
    .login_wrap .left label,
    .login_wrap .right label {
        margin: 0 0 0.5em;
    }
}

.login_wrap .left {
    width: 30%;
    padding: 0 2% 0 0;
}

@media screen and (max-width: 640px) {
    .login_wrap .left {
        width: 100%;
        padding: 0;
    }
}

.login_wrap .right {
    width: 70%;
    padding: 0 0 0 2%;
}

@media screen and (max-width: 640px) {
    .login_wrap .right {
        width: 100%;
        padding: 0;
    }
}

.login_wrap input[type="text"] {
    width: 100%;
    min-width: 80%;
}

.login_wrap .special_right {
    overflow: hidden;
}

    .login_wrap .special_right input[type="password"],
    .login_wrap .special_right input[type="text"],
    .login_wrap .special_right input[type="submit"] {
        float: left;
    }

    .login_wrap .special_right input[type="password"],
    .login_wrap .special_right input[type="text"] {
        width: 65%;
        min-width: 65%;
        margin-right: 4%;
    }

@media screen and (max-width: 500px) {
    .login_wrap .special_right input[type="password"] {
        width: 100%;
        min-width: 80%;
        margin: 0 0 1em;
    }
}

.login_wrap .special_right input[type="submit"] {
    width: 25%;
}

@media screen and (max-width: 500px) {
    .login_wrap .special_right input[type="submit"] {
        width: auto;
    }
}

.login_wrap label {
    margin: 0;
    vertical-align: middle;
}

.login_wrap input {
    height: 32px;
    margin: 0;
}

.login_wrap .last_right {
    padding: 0 0 0 32%;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .login_wrap .last_right {
        padding: 0;
    }
}

.login_wrap .last_right label {
    margin: 0;
}

.login_wrap input[type="checkbox"] {
    height: inherit;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

.login_wrap a {
    float: right;
    margin: 1px 0 0;
}

@media screen and (max-width: 768px) {
    .login_wrap a {
        float: none;
        display: block;
        border-top: 1px solid #8b8e93;
        margin: 0.5em 0 0;
        padding: 0.5em 0 0;
    }
}

.login_wrap span {
    color: white;
    display: block;
    margin: 1em 0 0;
}
