﻿.popup_wrap {
    display: block;
}

    .popup_wrap .opacity {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

    .popup_wrap .popup_box {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 3;
        top:100px;
        /*top: 50%;
        left: 50%;*/
        display: table-cell;
        vertical-align: middle;
        /*margin-left: -550px;
         margin-top: -150px;*/
    }

    .popup_wrap .insideAdd {
        background: white;
        border: 1px solid #585e69;
        padding: 2em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 5px #4c525b;
        box-shadow: 0 1px 5px #4c525b;
        width: 500px;
        margin: 0 auto;
        text-align: left;
    }

    .popup_wrap .insideDelete {
        background: white;
        border: 1px solid #585e69;
        padding: 2em;
        /*-webkit-border-radius: 5px;
        -moz-border-radius: 5px;*/
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 5px #4c525b;
        box-shadow: 0 1px 5px #4c525b;
        width: 280px;
        margin: 0 auto;
        text-align: left;
    }

    .popup_wrap h2,
    .popup_wrap label,
    .popup_wrap a {
        color: #585e69;
    }

        .popup_wrap a:hover {
            color: #f18322;
        }

    .popup_wrap h2 {
        text-align: right;
        font-size: 29px;
        font-family: 'goth_600';
        color: #585e69;
    }



    .popup_wrap .form_row {
        margin: 1em 0 0;
        overflow: hidden;
    }

        .popup_wrap .form_row:first-child {
            margin: 0;
        }

    .popup_wrap .left,
    .popup_wrap .right {
        float: left;
    }


    .popup_wrap .left {
        width: 30%;
        padding: 0 2% 0 0;
    }

    .popup_wrap input {
        height: 29px;
        margin: 0;
    }

    .popup_wrap form {
        margin: 2em 0 0;
    }

@media screen and (max-width: 768px) {
    .popup_wrap .login_logo {
        padding: 0;
        border: 0;
        background-image: url(images/icons/logo@2x.png);
        background-size: 178px 26px;
    }
}

@media screen and (max-width: 500px) {
    .popup_wrap .login_logo {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .popup_wrap .login_box {
        vertical-align: top;
        margin: 10% 0 0;
    }
}

@media screen and (max-width: 640px) {
    .popup_wrap h2 {
        font-size: 150%;
    }
}

@media screen and (max-width: 500px) {
    .popup_wrap h2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .popup_wrap .inside {
        width: 70%;
        margin-top: 2em;
    }
}

@media screen and (max-width: 640px) {
    .popup_wrap .inside {
        width: 80%;
    }
}

label.error {
    float: none;
    padding-left: .5em;
    vertical-align: middle;
    background-color: #333;
    font-size: 12px;
    border: 1px solid #999;
    color: #FFF;
    display: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-box-shadow: 0 0 6px #ddd;
    -webkit-box-shadow: 0 0 6px #ddd;
    white-space: nowrap;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    -moz-opacity: .90;
    filter: alpha(opacity = 90);
    opacity: .90;
    margin-left: 5px;
    margin-top: -2px;
}