
/* Main Application Body */

body {
    margin: 0;
    padding: 0;
    font-family: "goth_400", Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    color: black;
    overflow: hidden;
}

/* Top Header */

.top-header {
    height: 20px;
    overflow: hidden;
    background: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #585E69;
}

/* Side Bar Navigation */

#side-bar-navigator {
    z-index: 2;
    position: fixed;
    left: 396px;
    width: 0px;
    top: 41px;
    bottom: 0px;
    margin-left: -404px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 3px;
}

/* Main Top Header Second Level */

.main-top-header {
    position: fixed;
    width: 100%;
}

/* Main Wrapper */

.wrapper {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

    .wrapper.toggled {
        padding-left: 400px;
    }

        .wrapper.toggled .main {
            position: absolute;
            margin-left: -395px;
            overflow-y: scroll;
        }

        .wrapper.toggled #side-bar-navigator {
            width: 404px;
        }

/* Main Section Of The Application */

.main {
    z-index: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    top: 91px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

/* Inner Main  */

.main-inside {
    padding: 20px;
}

/* Media Query For Automatic Side Bar Toggle */

@media(min-width:768px) {
    .wrapper {
        padding-left: 396px;
    }

    .main {
        padding-left: 396px;
    }

    #side-bar-navigator {
        width: 404px;
    }

    .wrapper.toggled {
        padding-left: 0;
    }

        .wrapper.toggled .main {
            position: absolute;
            margin-left: -396px;
            overflow-y: scroll;
        }

        .wrapper.toggled #side-bar-navigator {
            width: 0;
        }
}

/* Main Navigation For Both Side Bars */

nav {
    position: absolute;
    top: 50px;
    bottom: 50px;
    width: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

    nav li:hover {
        background-color: #E0E0E0;
        cursor: pointer;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        nav ul a {
            color: black;
            text-decoration: none;
        }

        nav ul li {
            line-height: 3;
            text-align: center;
        }

/* Left Section Of The Side Navigator */

.side-bar {
    position: absolute;
    width: 201px;
    height: 100%;
    overflow: hidden;
    background: #F3F3F3;
    border-right: 1px solid #585E69;
}

/* Right Section Of The Side Navigator */

#sidebar-right {
    margin-left: 202px;
}

/* Background Color Change For Selected Items In Navigation */

#left-selected li.active {
    background-color: #CCCCCC;
}

#right-selected li.active {
    background-color: #CCCCCC;
}

/* Icon Configuration*/

.icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}

/* Different Icons */

#project-icon {
    background: url(images/project.png) no-repeat;
    width: 29px;
    height: 30px;
}

#version-icon {
    background: url(images/version.png) no-repeat;
    width: 29px;
    height: 33px;
}

#add-icon {
    background: url(images/add.png) no-repeat;
    width: 30px;
    height: 30px;
}

#toggle-icon {
    background: url(images/toggle.png) no-repeat;
    width: 30px;
    height: 28px;
    cursor: pointer;
}

#dashboard-icon {
    background: url(images/dashboard.png) no-repeat;
    width: 30px;
    height: 28px;
    cursor: pointer;
}

/* Second Level Headers [Project, Version, Charter List] */

h2 {
    position: relative;
    display: block;
    line-height: 50px;
    margin: 0;
    background-color: #5A8F29;
    color: white;
    text-align: left;
    font-size: 15px;
    padding-left: 20px;
    width: 100%;
}

/* Footer */

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #5A8F29;
}

    .footer h3 {
        display: block;
        line-height: 50px;
        margin: 0;
        background-color: #5A8F29;
        color: white;
        text-align: left;
        font-size: 15px;
        padding-left: 36px;
    }

        .footer h3:hover {
            background-color: #5A7C29;
            cursor: pointer;
        }

/* Charter Functionality Buttons*/

.buttons-above-table {
    margin-top: 5px;
}

.float-right {
    float: right;
}

.btn-above-charter {
    font-family: "goth_400", Arial, Helvetica, sans-serif;
    border-style: none;
    border: 1px solid #41454d;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 31px;
    padding-right: 17px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    text-transform: capitalize;
    color: white;
    margin: 0 0 14px;
    margin: 0 0 1rem;
}

    .btn-above-charter:hover {
        cursor: pointer;
        background-color: #5A7C29;
    }

/* Different Button Icons */

.btn-add {
    cursor: pointer;
    background: #5A8F29 url(/Styles/images/add.png) left no-repeat;
}

.btn-edit {
    cursor: pointer;
    background: #5A8F29 url(/Styles/images/edit.png) left no-repeat;
}

.btn-start-session {
    cursor: pointer;
    background: #5A8F29 url(/Styles/images/play.png) left no-repeat;
}

.btn-end-session {
    cursor: pointer;
    background: #5A8F29 url(/Styles/images/end.png) left no-repeat;
}

/* Buttons That Appear On Pop-Up Boxes */

.btn-popup-box {
    font-family: "goth_400", Arial, Helvetica, sans-serif;
    background: #585e69;
    border-style: none;
    border: 1px solid #41454d;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 14px;
    padding-right: 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004);
    text-transform: capitalize;
    color: white;
    margin: 0 0 14px;
    margin: 0 0 1rem;
}

    .btn-popup-box:hover {
        cursor: pointer;
    }


/*Risk And Note Type Color Classes*/

.color-green {
    background-color: #93C47D;
}

.color-orange {
    background-color: #FE9900;
}

.color-red {
    background-color: #FE0000;
}

.color-blue {
    background-color: #6D9EEB;
}

.color-yellow {
    background-color: #FFE599;
}

/* Jira Resource Autocomplete */

.autocomplete-suggestions {
    z-index: 100000;
    border: 1px solid #999;
    font-size: 13px;
    background: #FFF;
    cursor: pointer;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

    .autocomplete-suggestions strong {
        font-weight: bold;
        color: #000;
    }

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-group {
    padding: 2px 5px;
}

    .autocomplete-group strong {
        font-weight: bold;
        font-size: 16px;
        color: #000;
        display: block;
        border-bottom: 1px solid #000;
    }

.autocomplete-no-suggestion {
    padding: 2px 5px;
}

.autocomplete-selected {
    background: #F0F0F0;
}

/* Charter Table Arrows [Up, Down] */

.arrow-up {
    background: transparent url(images/arrowup.png) no-repeat scroll 0px -0px;
    width: 16px;
    height: 16px;
    display: block;
}

    .arrow-up:hover {
        background: transparent url(images/arrowupgreen.png) no-repeat scroll 0px -0px;
        width: 16px;
        height: 16px;
        display: block;
    }

.arrow-down {
    background: transparent url(images/arrowdown.png) no-repeat scroll 0px -0px;
    width: 16px;
    height: 16px;
    display: block;
}

    .arrow-down:hover {
        background: transparent url(images/arrowdowngreen.png) no-repeat scroll 0px -0px;
        width: 16px;
        height: 16px;
        display: block;
    }

/* Data Table */

table {
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    table-layout: fixed;
}

thead {
    background-color: #F3F3F3;
    text-align: center;
    font-size: 13.5px;
}

    thead tr td {
        padding: 2px;
        border-width: 1px;
        border-color: #336600;
        border-style: solid;
    }

tbody tr td {
    border-width: 1px;
    border-color: #336600;
    border-style: solid;
    border-width: 1px;
    border-color: #336600;
    border-style: solid;
    font-size: 13.5px;
    word-wrap: break-word;
    white-space: normal;
}

/* Charter Table Selection */

#charter-table-body tr.active {
    background-color: #CCCCCC;
}

#charter-table-body tr.charter-table-row:hover {
    background-color: #E0E0E0;
    cursor: pointer;
}

/* Charter Table Border Fix For Session Progress And Arrow */

.border-fix-left {
    border-left: none;
}

.border-fix-right {
    border-right: none;
}

/* Padding between collapsed tables */

.inner-pading-session {
    padding: 5px 5px 5px 5px;
}


/* Pop-Up Box */

.popup_wrap {
    display: block;
}

    .popup_wrap .opacity {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

    .popup_wrap .popup_box {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 100px;
        display: table-cell;
        vertical-align: middle;
    }

    .popup_wrap .inside {
        background: white;
        border: 1px solid #585e69;
        padding: 2em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 5px #4c525b;
        box-shadow: 0 1px 5px #4c525b;
        width: 500px;
        margin: 0 auto;
        text-align: left;
    }

    .popup_wrap .form_row {
        margin: 1em 0 0;
        overflow: hidden;
    }

    .popup_wrap .left,
    .popup_wrap .right {
        float: left;
    }

    .popup_wrap .left {
        width: 20%;
        padding: 4px 2% 0 0;
    }

    .popup_wrap input {
        height: 29px;
        margin: 0;
        font-size: 13px;
    }

    .popup_wrap form {
        margin: 2em 0 0;
    }

/* Media Queries For Pop-Up Box */

@media screen and (max-width: 768px) {
    .popup_wrap .popup_box {
        vertical-align: top;
        margin: 10% 0 0;
    }
}

@media screen and (max-width: 768px) {
    .popup_wrap .inside {
        width: 70%;
        margin-top: 2em;
    }
}

@media screen and (max-width: 640px) {
    .popup_wrap .inside {
        width: 80%;
    }
}

/*Note Selector When Session In Progress */

.note-selector-table tr td {
    text-align: center;
    height: 25px;
    width: 10%;
}

    .note-selector-table tr td:hover {
        cursor: pointer;
        background-color: #E0E0E0;
    }

#note-selector:hover {
    cursor: pointer;
    background-color: #E0E0E0;
}

.popup_wrap .reminder {
    background: white;
    border: 1px solid #585e69;
    padding: 2em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px #4c525b;
    box-shadow: 0 1px 5px #4c525b;
    width: 250px;
    margin: 0 auto;
    text-align: left;
}
