﻿<div>
    <div class="popup_wrap">
        <div class="opacity"> </div>
        <div class="popup_box">
            <div class="inside">
                <form id="add-charter">
                    <div class="form_row">
                        <div class="left">
                            <label> Area: </label>
                        </div>
                        <div class="right">
                            <input type="text" name="area" style="min-width:210px;"
                                   placeholder="Add Area Of Testing" ng-model="area" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="left">
                            <label> Charter: </label>
                        </div>
                        <div class="right">
                            <input type="text" name="charterText" style="min-width:310px;"
                                   placeholder="Add Charter Of Testing" ng-model="charterText" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="left">
                            <label> Risk: </label>
                        </div>
                        <div class="right">
                            <select name="risk" style="min-width:110px; height:1.9em;" placeholder="Select Risk Level" ng-model="risk">
                                <option value="">Select Risk Level</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>
                    </div>
                    <div class="form_row">
                        <input type="button" value="Save" class="btn-popup-box" ng-click="saveCharter(); CloseBox($event)">
                        <input type="button" value="Cancel" class="btn-popup-box" ng-click="CloseBox($event)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>