﻿<div>
    <div class="popup_wrap">
        <div class="opacity"></div>
        <div class="popup_box">
            <div class="reminder">
                <label>Finish session?</label>
                <div class="form_row">
                    <input type="button" value="Yes" class="btn-popup-box" ng-click="saveSession(); CloseBox($event)">
                    <input type="button" value="Cancel" class="btn-popup-box" ng-click="CloseBox($event)">
                </div>
            </div>
        </div>
    </div>
</div>