﻿<tr class="notes-table-row">
    <td colspan="6" class="inner-pading-session">
        <table class="notes-data-table">
            <thead>
                <tr>
                    <td width="10%">Type</td>
                    <td width="70%">Description</td>
                    <td width="20%">Time</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sessionNote in sessionNotes track by $index" class="note-table-row">
                    <td width="10%" style="text-align: center"
                        ng-class="{
                            'color-blue': sessionNote.Type === 'Setup',
                            'color-red': sessionNote.Type ==='Bug',
                            'color-green': sessionNote.Type === 'Test'|| sessionNote.Type === 'Note' || sessionNote.Type === 'Question',
                            'color-yellow': sessionNote.Type === 'Data'|| sessionNote.Type === 'NextTime' || sessionNote.Type === 'OffCharter'}">
                        {{sessionNote.Type}}
                    </td>
                    <td width="70%">{{sessionNote.Description}}</td>
                    <td width="20%">{{sessionNote.TimeSpent.Hours}}:{{sessionNote.TimeSpent.Minutes}}:{{sessionNote.TimeSpent.Seconds}}</td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>