﻿<div>
    <div class="popup_wrap">
        <div class="opacity"> </div>
        <div class="popup_box">
            <div class="inside">
                <form id="add-project">
                    <div class="form_row">
                        <div class="left">
                            <label> Projects: </label>
                        </div>
                        <div class="right" ng-model="suggestedProject">
                            <input type="text" name="project" id="autocomplete-projects" style="min-width:310px;"
                                   placeholder="Search Jira Project" />
                        </div>
                    </div>
                    <div class="form_row">
                        <input type="button" value="Save" class="btn-popup-box" ng-click="saveJiraProject(suggestedProject); CloseBox($event)">
                        <input type="button" value="Cancel" class="btn-popup-box" ng-click="CloseBox($event)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
