﻿<div>
    <div class="popup_wrap">
        <div class="opacity"></div>
        <div class="popup_box">
            <div class="reminder">
                <label>{{message}}</label>
                <div class="form_row">
                    <input type="button" value="Ok" class="btn-popup-box" ng-click="CloseBox($event)">
                </div>
            </div>
        </div>
    </div>
</div>