﻿<tr class="session-table-row">
    <td colspan="6" class="inner-pading-session">
        <table id="session-data-table">
            <thead>
                <tr>
                    <td width="10%">Type</td>
                    <td width="70%">Description</td>
                    <td width="20%">Time</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="note in notes track by $index" class="note-table-row">
                    <td width="10%" style="text-align: center"
                        ng-class="{
                            'color-blue': note.Type === 'Setup',
                            'color-red': note.Type ==='Bug',
                            'color-green': note.Type === 'Test'|| note.Type === 'Note' || note.Type === 'Question',
                            'color-yellow': note.Type === 'Data'|| note.Type === 'NextTime' || note.Type === 'OffCharter'}">
                        {{note.Type}}
                    </td>
                    <td width="70%"><input type="text" ng-model="note.Description" /></td>
                    <td width="20%" ng-model="note.TimeSpent">
                        <timer interval="1000" autostart="true">
                            {{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.
                        </timer>
                    </td>
                </tr>
                <tr>
                    <td width="10%" height="25px" style="text-align: center" id="note-selector" ng-click="selectSessionNote()"> Add </td>
                </tr>
            </tbody>
        </table>
        <table class="note-selector-table">
            <tr ng-hide="hideNoteSelector" id="note-types">
                <td data="Setup" ng-click="addNoteToSession($event)">Setup</td>
                <td data="Bug" ng-click="addNoteToSession($event)">Bug</td>
                <td data="Test" ng-click="addNoteToSession($event)">Test</td>
                <td data="Note" ng-click="addNoteToSession($event)">Note</td>
                <td data="Data" ng-click="addNoteToSession($event)">Data</td>
                <td data="NextTime" ng-click="addNoteToSession($event)">NextTime</td>
                <td data="Question" ng-click="addNoteToSession($event)">Question</td>
                <td data="OffCharter" ng-click="addNoteToSession($event)">OffCharter</td>
            </tr>
        </table>
    </td>
</tr>