﻿<div>
    <div class="popup_wrap">
        <div class="opacity"> </div>
        <div class="popup_box">
            <div class="inside">
                <form id="add-tester">
                    <div class="form_row">
                        <div class="left">
                            <label> User Name: </label>
                        </div>
                        <div class="right">
                            <input type="text" name="userName" style="min-width:310px;"
                                   placeholder="Enter The User Name Of The Tester" ng-model="userName" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="left">
                            <label> Full Name: </label>
                        </div>
                        <div class="right">
                            <input type="text" name="fullName" style="min-width:310px;"
                                   placeholder="Enter The Full Name Of The Tester" ng-model="fullName" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="left">
                            <label> E-mail: </label>
                        </div>
                        <div class="right">
                            <input type="email" name="email" style="min-width:310px;"
                                   placeholder="Enter The E-mail Of The Tester" ng-model="email" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="left">
                            <label> Password: </label>
                        </div>
                        <div class="right">
                            <input type="password" name="password" style="min-width:310px;"
                                   placeholder="Enter The Password For The Tester" ng-model="password" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="left">
                            <label> Company: </label>
                        </div>
                        <div class="right">
                            <input type="text" name="company" style="min-width:310px;"
                                   placeholder="Enter The Password For The Tester" ng-model="company" />
                        </div>
                    </div>
                    <div class="form_row">
                        <input type="button" value="Save" class="btn-popup-box" ng-click="saveTester(); CloseBox($event)">
                        <input type="button" value="Cancel" class="btn-popup-box" ng-click="CloseBox($event)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
