﻿<div>
    <div class="popup_wrap">
        <div class="opacity"> </div>
        <div class="popup_box">
            <div class="inside">
                <form id="add-version">
                    <div class="form_row">
                        <div class="left">
                            <label> Versions: </label>
                        </div>
                        <div class="right" ng-model="suggestedVersion">
                            <input type="text" name="version" id="autocomplete-versions" style="min-width:310px;"
                                   placeholder="Search Jira Version" />
                        </div>
                    </div>
                    <div class="form_row">
                        <input type="button" value="Save" class="btn-popup-box" ng-click="saveVersion(suggestedVersion); CloseBox($event)">
                        <input type="button" value="Cancel" class="btn-popup-box" ng-click="CloseBox($event)">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>