<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jsreport <%= version %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="author" content="Jan Blaha">
    <meta name="description" content="jsreport - javascript business reports">
    <link href="<%= serverUrl %>css/font-awesome/css/font-awesome.min.css?v=1437462901737" rel="stylesheet">
    <% if(studio === "embed") { %>
    <link href="<%= serverUrl %>css/built_embed.css?v=1437462901737" rel="stylesheet">
    <% } else { %>
    <link href="<%= serverUrl %>css/built.css?v=1437462901737" rel="stylesheet">
    <% } %>
</head>
<body>
<div id="jsreport-root"></div>
<!-- jsreport$studio - check for unit tests-->
<script type="text/javascript">
    var require = {
        urlArgs: "bust=" + "1437462901737" + "&studio=<%= studio %>"
    };

    var jsreport_bust = "1437462901737";

    var jsreport_version = '<%= version %>';
    var jsreport_mode = '<%= mode %>';
    var jsreport_studio = '<%= studio %>';
    var jsreport_server_url = "<%= serverUrl %>";
    var jsreport_main_app = jsreport_mode === "production" ? "app_built" : "app_dev";

</script>

<script data-main="<%= serverUrl %>js/require_main.js?studio=<%= studio %>" src="<%= serverUrl %>lib/require.min.js?studio=<%= studio %>" type="text/javascript"></script>
<script src="<%= serverUrl %>lib/ace/ace.js?studio=<%= studio %>" charset="utf-8"></script>
<script src="<%= serverUrl %>lib/ace/ext-language_tools.js?studio=<%= studio %>" charset="utf-8"></script>
<img class="loader" id="loader-img" src="<%= serverUrl %>img/loader.gif?studio=<%= studio %>"/>

<% if(typeof ga != "undefined") { %>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', '<%= ga.id %>', '<%= ga.name %>');
    ga('send', 'pageview');
</script>
<% } else { %>
<% } %>
</body>
</html>
