﻿<html ng-app="SBTM_Application">
<head>
    <title> Home </title>
    <script type="text/javascript" src="~/Scripts/Content/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Content/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="~/Scripts/Content/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Styles/styles.css" />
    <script type="text/javascript" src="~/Scripts/app.mdl.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/tester.home.ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/Directives/app.dir.js"></script>
    <script type="text/javascript" src="~/Scripts/Content/angular-timer.js"></script>
    <script type="text/javascript" src="~/Scripts/Services/project.srv.js"></script>
    <script type="text/javascript" src="~/Scripts/Services/version.srv.js"></script>
    <script type="text/javascript" src="~/Scripts/Services/charter.srv.js"></script>
    <script type="text/javascript" src="~/Scripts/Services/session.srv.js"></script>
</head>
<body ng-controller="TesterHomeController">
    <header class="top-header"> </header>
    <div class="wrapper">
        <div id="side-bar-navigator">
            <div class="side-bar">
                <h2> <i class="icon" id="project-icon"> </i> PROJECTS </h2>
                <nav>
                    <ul id="left-selected" ng-model="currentlySelectedProject">
                        <li ng-repeat="project in projects track by $index" ng-click="getVersions(project)"> {{project.ProjectName}} </li>
                    </ul>
                </nav>
                <footer class="footer" ng-click="getJiraProject()">
                    <h3> <i class="icon" id="add-icon"> </i> ADD </h3>
                </footer>
            </div>
            <div id="sidebar-right" class="side-bar">
                <h2> <i class="icon" id="version-icon"> </i> VERSIONS </h2>
                <nav>
                    <ul id="right-selected" ng-model="currentlySelectedVersion">
                        <li ng-repeat="version in versions track by $index" ng-click="getCharters(version)"> {{version.VersionName}} </li>
                    </ul>
                </nav>
                <footer class="footer" ng-click="getJiraVersion()">
                    <h3> <i class="icon" id="add-icon"> </i> ADD </h3>
                </footer>
            </div>
        </div>
        <div class="main-top-header">
            <h2> <i class="icon" id="toggle-icon"> </i> CHARTER LIST </h2>
        </div>
        <div class="main">
            <div class="main-inside">
                <div ng-model="currentlySelectedCharter">
                    <p class="buttons-above-table float-right">                   
                        <input type="button" value="Add" class="btn-above-charter btn-add" ng-click="addCharter()" />
                        <input type="button" value="Edit" class="btn-above-charter btn-edit" ng-click="editCharter(currentlySelectedCharter)" />
                        <input type="button" value="Start Session" class="btn-above-charter btn-start-session" ng-click="startSession(currentlySelectedCharter)" />
                        <input type="button" value="End Session" class="btn-above-charter btn-end-session" ng-click="endSession()" />
                    </p>
                </div>
                <div>
                    <table id="charter-data-table">
                        <thead>
                            <tr>
                                <td width="15%">Area</td>
                                <td width="40%">Charter</td>
                                <td width="10%">Risk</td>
                                <td width="13%">Tester</td>
                                <td width="10%" class="border-fix-right">Session Progress</td>
                                <td width="2%" class="border-fix-left"></td>
                            </tr>
                        </thead>
                        <tbody id="charter-table-body">
                            <tr ng-repeat="charter in charters track by $index" class="charter-table-row" ng-click="selectCharter(charter)">
                                <td width="15%"> {{charter.Area}} </td>
                                <td width="40%"> {{charter.CharterText}} </td>
                                <td width="10%"
                                    style="text-align: center"
                                    ng-class="{
                                    'color-red': charter.Risk === 'High',
                                    'color-orange': charter.Risk ==='Medium',
                                    'color-green': charter.Risk === 'Low'}">
                                    {{charter.Risk}}
                                </td>
                                <td width="13%"> {{charter.TesterName}} </td>
                                <td width="10%" style="text-align: center" class="border-fix-right">
                                    {{charter.Progress}}
                                </td>
                                <td width="2%" class="border-fix-left"
                                    ng-class="{
                                    'arrow-up': charter.Progress === 'Finished'}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>