﻿<html ng-app="SBTM_Application">
<head>
    <title> Dashboard </title>
    <script type="text/javascript" src="~/Scripts/Content/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.mdl.js"></script>
    <script type="text/javascript" src="~/Scripts/Controllers/administrator.dashboard.ctrl.js"></script>
    <script type="text/javascript" src="~/Scripts/Directives/app.dir.js"></script>
    <script type="text/javascript" src="~/Scripts/Services/tester.srv.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/pop-up-add-tester.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/administrator.css" />
    <link type="text/css" rel="stylesheet" href="~/Styles/styles.css" />
</head>
<body>
    <header class="top-header2"> </header>
    <div ng-controller="AdministratorDashboardController" class="alma">
        <div class="main-top-header">
            <h2> <i class="icon" id="dashboard-icon"> </i> DASHBOARD </h2>
        </div>
        <div class="main2">
            <div class="main-inside2">
                <table id="tester-data-table" class="testerDataTable">
                    <thead>
                        <tr>
                            <td>User Name</td>
                            <td>Full Name</td>
                            <td>E-mail</td>
                            <td>Password</td>
                            <td>Comany</td>
                        </tr>
                    </thead>
                    <tbody id="tester-table-body">
                        <tr ng-repeat="tester in testers track by $index" class="tester-table-row" ng-click="selectTester(tester)">
                            <td> {{tester.UserName}} </td>
                            <td> {{tester.FullName}} </td>
                            <td> {{tester.Email}} </td>
                            <td> {{tester.Password}} </td>
                            <td> {{tester.Company}} </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-model="currentlySelectedTester">
                    <p class="buttons-above-table">
                        <input type="button" value="Add" class="btn_square_blue2 btn-add" ng-click="addTester()" />
                        <input type="button" value="Edit" class="btn_square_blue2 btn-edit" ng-click="editTester(currentlySelectedTester)" />
                        <input type="button" value="Delete" class="btn_square_blue2 btn-start-session" ng-click="deleteTester(currentlySelectedTester)" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>